	-----
	${project.description}
	-----
	Cristian Sulea
	-----
	2014-09-16
	-----


${project.name}
	
	${project.description}


* Version 4.1 ( September 14, 2015 )

	* Windows
		
		* {{{https://github.com/cristian-sulea/jatoo-log4j/releases/download/v.4.1/jatoo-log4j-4.1-windows.zip}jatoo-log4j-4.1-windows.zip}}
		
		[]
	
	[]
	
	* Linux
		
		* {{{https://github.com/cristian-sulea/jatoo-log4j/releases/download/v.4.1/jatoo-log4j-4.1-linux.tar.bz2}jatoo-log4j-4.1-linux.tar.bz2}}
		
		* {{{https://github.com/cristian-sulea/jatoo-log4j/releases/download/v.4.1/jatoo-log4j-4.1-linux.tar.gz}jatoo-log4j-4.1-linux.tar.gz}}
		
		[]
	
	[]
	
	Older releases can be obtained from {{{https://github.com/cristian-sulea/jatoo-log4j/releases}the releases page on GitHub}}.

* Usage / Examples

	Initializes Log4J with the <<<logs>>> folder created in the working directory (where the JVM is started).

+--
Log4jUtils.init();
+--

	Initializes Log4J with the <<<logs>>> folder created in the specified folder.

+--
File logsFolder = new File("target");

Log4jUtils.init(logsFolder);
+--

	Initializes Log4J with the <<<logs>>> folder created in the specified folder,
	trying to search for new properties or loggers in the second specified folder.

+--
File logsFolder = new File("target");
File configFolder = new File("target");

Log4jUtils.init(logsFolder, configFolder);
+--

	A test with one logger.

+--
Log4jUtils.init();

Log logger = LogFactory.getLog(Log4jUtilsTest.class);

logger.debug("debug");
logger.info("info");
logger.warn("warn");
logger.error("error");
logger.fatal("fatal");
+--

	A test with many loggers.

+--
Log4jUtils.init();

Log logger1 = LogFactory.getLog("logger1");
logger1.debug("debug");
logger1.info("info");
logger1.warn("warn");
logger1.error("error");
logger1.fatal("fatal");

Log logger2 = LogFactory.getLog("logger2");
logger2.debug("debug");
logger2.info("info");
logger2.warn("warn");
logger2.error("error");
logger2.fatal("fatal");
+--

* Licensing
	
	Copyright (C) Cristian Sulea ( {{{http://cristian.sulea.net}http://cristian.sulea.net}} )
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Lesser General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Lesser General Public License for more details.
	
	You should have received a copy of the GNU Lesser General Public License
	along with this program.  If not, see {{{http://www.gnu.org/licenses/}http://www.gnu.org/licenses/}}.

